.App-image{
  width:15rem;
  height:10rem ;
  margin: 2rem;
}
.videoo{
  max-width: 50 rem;
  max-height:50 rem ; 
  margin: 2rem;
}
.camp{
  margin-left: 2rem;
  width: 20rem;
  height:10rem ;
  margin: 2rem;
}
.App{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 2rem;
  border-radius: 5rem; 
  background-color: aqua;
}